<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="description" content="Linux User Group at NITK" />

    <base href="{{ site.baseurl }}" />

    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <link href="{{ site.baseurl }}/news/atom.xml" rel="alternate" title="NITK LUG&mdash;Activities" type="application/atom+xml" />

  </head>

  <body>
    {{ content }}
    {% if page.fortune %}<!--fortune-->{% endif %}
  </body>
</html>
